.app.dark {
    background-color: #111;
    color: rgb(156, 156, 156)
}

.chartgrid {
    stroke: rgba(228, 228, 228, 0.219);
}

.tableList {
    background-color: #111;

    /* .tableCell {
        background-color: gray;
    } */
}

.nav {
    color: #999;
    border-color: #333;

}

.search {
    border-color: grey
}

.left1 {
    background-color: #999;
}

/* .sidebar {
    background-color: #333;


} */

/* .top,
.logo {
    color: #999;
}

hr {
    border-color: #333
}

ul {
    li {

        &:hover {
            background-color: #333;

        }
    }
} */
/* 
.icon {
    color: #999;
} */
/* 
.datatable {
    .dataGrid {
        color: gray;
        border: none;

        .viewButton,
        .deleteButton,
        .cellWithStatus {
            color: gray;
            border: none;
        }
    }
} */


.left1 {
    background-color: transparent;
}